.player {
    background-image: url('./assets/player.png');
    background-position: center 0;
    background-repeat: no-repeat;
    transform: rotate(0deg);
}
.player.RIGHT {
    transform: rotate(90deg);
}
.player.DOWN {
    transform: rotate(180deg);
}
.player.LEFT {
    transform: rotate(270deg);
}